/* ---------------------------- General Styling Applies to All Pages  --------------------------- */

* {
    font-family: 'Poppins';
}

.btn {
    padding: 2px 15px 2px 15px;
    font-size: 1rem;
    background-color: #202020;
    color: white;
    border-radius: 12px;
}

.btn:hover:enabled {
    cursor: pointer;
    text-decoration: underline;
}

.btn:disabled {
    background-color: #808080;
    color: #D8D8D8;
    text-decoration: none;
}


/* Nav Bar Styling */

#navBar {
    margin: 1% 0% 0% 2.5%;
}

.navBarContents {
    background: none;
    border: none;
    font-size: 1.2rem;
}

#homeBtn {
    margin-right: 1%;
}

.navBarContents:hover {
    cursor: pointer;
    text-decoration: underline;
}