/* ---------------------------- Styling for History Page  --------------------------- */
* {
    margin: 0px;
    padding: 0px;
}

#historycontents    {
    font-size:1.2rem ;
    margin-left: 70px;
    margin-top: 50px;
    padding: 10px;
}

.sortby-container   {
    margin-left: 80px;
    display: inline-block;
    position: relative;
}
#sortbyBtn { 

    margin: 0;
    padding: 5px 30px 5px 10px;
    border: 1px solid black;
    border-radius: 12px;
    background-color: white;
    color: black;
    font-size: 1.1rem;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}
#sortbyBtn option {
    font-size: 16px;
    padding: 8px;
    background-color: #f5f5f5;
    color: #333;
    cursor: pointer;
  }
  
  #sortbyBtn option:hover {
    background-color: #e5e5e5;
  }

#sortbyArrow   {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
}

/* Can improve using class history table but this is fine for now */
table   {
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 90%; 
}

th  {
    border-bottom: 2px solid black;
    font-size: 1.3rem;
    font-weight: lighter;
}

td  {
    border-bottom: 1px solid lightslategray;
    border-collapse: collapse;
    padding: 10px;
    font-size: 1.1rem;
}

.deleteBtn  {
    
    padding: 5px 7px 5px 7px;
    border: 1px solid black;
    border-radius: 12px;
    background-color: white;
    color: black;
    font-size: 0.95rem;
    text-align: center;
}