{% extends 'base.html' %}

{% block head %}
<title>History</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/history.css') }}">
{% endblock %}

{% block body %}
<div id="historycontents">
    <h1> History </h1>
</div>

<button id="sortbyBtn" > Sort by </button>

<div class="historytable">
    <table>
        <tr>
            <th> File Name </th> <th> Cough Count </th> <th> Date Added </th> <th> Actions </th>
        </tr> 
            <tr>
                <td> File name </td>
                <td> 200 million rip </td>
                <td> idk what day it is</td>
                <td> <a href=""> Delete </a> <br/> <a href=""> Rename </a> </td> 
            </tr>
    </table>
</div>

<script src="{{url_for('static', filename='js/history.js')}}"></script>
{% endblock %}