{% extends 'base.html' %}

{% block head %}
<title>History</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/history.css') }}">
{% endblock %}

{% block body %}
<div id="historycontents">
    <h1> History </h1>
    <h2> Testing</h2>
    <h3> well wtf the test works so WHERE IS MY BUTTON</h3>
</div>

<label for="lol"> Testing </label>
<input type="number" id="lol"/>

<button id="sortbyBtn"> oh my god i see it now idiot</button>


<script src="{{url_for('static', filename='js/history.js')}}"></script>
{% endblock %}