{% extends 'base.html' %}

{% block head %}
<title>History</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/history.css') }}">
{% endblock %}

{% block body %}
<div id="historycontents">
    <h1> History </h1>
</div>


<button id="sortbyBtn" > Sort by <image id="DropDown" src = "static/images/DropDown.png" ></image></button>



<div class="historytable">
    <table>
        <tr>
            <th> File Name </th> <th> Cough Count </th> <th> Date Added </th> <th> Actions </th>
        </tr> 
            <tr>
                <td> file name </td> <!-- Would use Jinja2 syntax to get info -->
                <td> 50 coughs </td>
                <td> whatever today is </td>
                <td> <a href=""> Delete </a> </td> 
            </tr>
            <tr>
                <td> another file name </td> <!-- Would use Jinja2 syntax to get info -->
                <td> 200 coughs </td>
                <td> yesterday </td>
                <td> <a href=""> Delete </a> </td> 
            </tr>
    </table>
</div>

<script src="{{url_for('static', filename='js/history.js')}}"></script>
{% endblock %}