{% extends 'base.html' %}

{% block head %}
<title>HorseKeeper</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}


{% block body %}

<div id="homeContents">
    <image id="horseLogo" src="../static/images/horseKeeperLogoLight.png"></image>
    <h1 id="homeHeader">HorseKeeper</h1>
    <h1 id="downloadPrompt">Upload your Data Set:</h1>
    
    
        <form action="/" method="POST" enctype="multipart/form-data">
            <div id="formContents">
                <div id="dataInputContents">
                    <div class="btn fileUpload" id="audioDataBtnDiv">
                        <label for="audioData" class="labelUpload">
                            <i class="fa fa-cloud-upload"></i>Choose Audio   <br>  Data File
                        </label>
                        <input type="file" id="audioData" name="audioData" accept=".csv" style="display: none;" required>
                    </div>
                    
                    
                    <div  class="btn fileUpload" id="accDataBtnDiv">
                        <label for="accData" class="labelUpload">
                            <i class="fa fa-cloud-upload"></i>Choose Acceleration<br>Data File
                        </label>
                        <input type="file" id="accData" name="accData" accept=".csv" style="display: none;" required>
                    </div>
                </div>
                
                <div id="selectedFilesInfo">
                    <span id="filesStateInfo">No Files Have Been Selected</span>
                    <span id="audioDataSelectedFile"><br></span>
                    <span id="accDataSelectedFile"></span>
                </div>

                <button class="btn" id="uploadDataBtn">Upload Data</button>
            </div>
        </form>

    <dialog id="loadingDialog">
        <h3 class='resultsDialogHeading' id="analyzingHeading">Analyzing...</h3>
        <img id="loadingAnimation" src="../static/images/loadingAnitmation.gif">
    </dialog>

    <dialog id="coughCountDialog">
        <h2 class='resultsDialogHeading' id="coughDataName"></h2>
        <h1 id="coughResult">{{coughValue}}</h1>
        <div id="coughDialogBtnsDiv">
            <button id="backHome" class="btn coughBtns" style="margin-right: 2%;">Back</button>
            <button id="toHistory" class="btn coughBtns">See History</button>
        </div>
    </dialog> 
    
    {% if coughValue %}
    <script>
        loadingDialog.close();
        coughCountDialog.showModal();
        coughCountDialog.style.display = 'flex';
        
        const currentDate = new Date();

        const formattedDate = currentDate.toDateString();

        let coughDataName = 'Cough Count: ' + formattedDate;// replace with a function that returns default name
        //console.log(coughValue);
        document.getElementById('coughDataName').innerHTML = coughDataName;
        //document.getElementById('coughResult').innerHTML = coughValue;
    </script>
    {% endif %}
    
</div>


<script src="{{url_for('static', filename='js/home.js')}}"></script>
{% endblock %}